
 body {
   margin:0;
   padding: 0;
   height:100%;
   width:100%;
   position: fixed;
   background-color: black;
  }

#splashContainer{
    position: absolute;
    width:100%;
    height:100%;
}

#splash{
  background-color: black;
  margin:0;
  padding: 0;
  height: 100%; 
  background-position: 85%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  animation:fadeInout 7s ease;
  opacity:0;
}

#splashText{
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  opacity: 0;
  padding: 15px;
  animation:fadeinOutText 7s ease;
}

  #homeText{
    position: fixed;
    top: 40%;
    left: 50%;
    font-size: 5vw;
    transform: translate(-50%, -50%);
    background-color: black;
    color: red;
    opacity: 0;
    padding: 15px;
    animation:fadein 2s 7s ease forwards;
    text-align: center;
  }
  
  .button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    }





  @keyframes fadeInout{
    50%{ opacity:1;}
    
  }
  @keyframes fadeinOutText{
    50%{ opacity:0.8;}
  }
  @keyframes fadein{
    from{ opacity:0;}
    to{opacity:1;}
  }



 

