body{
    margin:0;
    padding: 0;
    height:100%;
    width:100%;
    position: absolute;
    background-color: black;
    
}

#bodyContainCharacters{
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90%;
    height:100%;
    background-image: url("../img/characters.jpg");
    position: relative;
    overflow: auto;
    -webkit-animation: fadeEffect .5s forwards;
    animation: fadeEffect .5s forwards;
    
}

#bodyContainMonsters{
  background-attachment: fixed;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55%;
  height:100%;
  background-image: url("../img/monsters.jpg");
  position: relative;
  overflow: auto;
  -webkit-animation: fadeEffect .5s forwards;
  animation: fadeEffect .5s forwards;
}

#bodyContainNpcs{
  background-attachment:fixed;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 15%;
  height:100%;
  background-image: url("../img/npc.jpg");
  position: relative;
    overflow: auto;
    -webkit-animation: fadeEffect .5s forwards;
    animation: fadeEffect .5s forwards;
}



.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  
  .tab button.active {
    background-color: #ccc;
  }
  
 
  .tabcontent {
    display: none;
    padding: 6px 10px;
    border: 1px solid black;
    border-top: none;
    color:white;
    font-size: 20px;
    background-color: rgba(0,0,0,0.5);
    -webkit-animation: fadeEffect .5s;
    animation: fadeEffect .5s;
    
  }

  #start{
    position: relative;
    font-size: 16px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px groove white;
    padding: 20px 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    cursor: pointer;
    top: 25%;
     left: 50%;
transform: translateX(-50%);
    text-align: center;
    outline: none;
  }

  #start:hover{
    background-color: white;
    color: black;
    border: 1px groove black;
  }
  
  #startContain{
    display: inline-block;
    width: 100%;
    height: 17%;
    position:sticky;
    top:90%;
  }


  #characterOverlay {
    position: fixed; /* Sit on top of the page content */
    display:none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

  }

  #monsterOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
   
    -webkit-animation: fadeEffect .5s;
    animation: fadeEffect .5s;
  }

  #npcOverlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    -webkit-animation: fadeEffect .5s;
    animation: fadeEffect .5s;
  }

  #formCont{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    opacity: 0;
    padding: 15px;
    -webkit-animation: fadeEffect .5s forwards;
    animation: fadeEffect .5s forwards;
    width:525px;
  }

  fieldset{
    float: left;
    padding: 0;
    box-sizing: border-box;
    height: 345px;
    margin-right: 0px;
    margin-left: 6px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:5px;
  }

  #close{
margin-right: 100px;
  }

  #close,#done{
    font-size: 15px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px groove white;
    padding: 15px 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    cursor: pointer;
    
  }
  #close:hover,#done:hover{
    background-color: white;
    color: black;
    border: 1px groove black;
    
  }
 
td{
  margin-right:10px;
}

 label{
   font-size: 19px;
 }

 #characterTable,#monsterTable,#npcTable{
  width: 100%; 
  background-color: rgba(0,0,0,0.7);
  color:lightgray;
  border-style: groove;
  border-color: lightslategray;
  border-collapse: collapse;
  -webkit-animation: fadeEffect .5s;
    animation: fadeEffect .5s;
 }

 #characterTable td,#monsterTable td,#npcTable td{
  border-style: groove;
  border-color: lightslategray;
  border-collapse: collapse;
  text-align: center;
 }


 #tableRow{
   text-align: center;
 }

 #importButton, #formButton{
  font-size: 16px;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: 1px groove white;
  padding: 20px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  cursor: pointer;
 }

 #charInfo td{
 width: 99px;
 }
 #charInfo {
 margin-left: 10px;
 }

 #importButton:hover, #formButton:hover{
  background-color: white;
  color: black;
  border: 1px groove black;
 }
#error{
  color:red;
  font-size: smaller;
  margin:0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  border-radius: 10px;
  background:black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ddd; 
}

/*Monce was Here*/
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;
  z-index: 1;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;
    z-index: 1;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;
    z-index: -1;}
  to {opacity: 0;}
}

@keyframes fadeOut {
  from {opacity: 1;
    z-index: -1;}
  to {opacity: 0;}
}