body{
    margin:0;
    padding: 0;
    height:100%;
    width:100%;
    position: absolute;
    background-color: black;
}

#bodyDiv{
    position: fixed;
    background-image: url('../img/combat.jpg');
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    overflow: auto;
    width:100%;
    height:100%;
    -webkit-animation: fadeEffect .5s forwards;
    animation: fadeEffect .5s forwards;
}

#rw{
    display:inline;
}
#initHeader{
    display:inline-block;
    color:white;
    font-size: x-large;
    margin-left: 10px;
}

#initButton{
    border-radius: 50px;
    border-color: white;
    color: white;
    font-size: x-large;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline:none;
    transition: all .5s;
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    margin:10px;
}

#combatHeader{
    text-align: center;
    color:white;
    font-size: xx-large;
    margin:0px;
}

#d4,#d6,#d8,#d10,#d12,#d20,#d100{
    border-radius: 50px;
    border-color: white;
    color: white;
    font-size: x-large;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline:none;
    transition: all .5s;
    display: inline-block;
    float:right;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}



#buttonGroup label{
    display: block;
    
}

#buttonGroup{
    float: right;
    margin:5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    position: relative;
    top:25px;
}
#buttonGroup:focus {
    outline: 0;
}


#initCont{
    position: relative;
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#enditContain{
    display: inline-block;
    width: 100%;
    height: 17%;
    position:sticky;
    top:90%;
    transition: visibility 0.3s;
}

#endit{
    position: relative;
    font-size: 16px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px groove white;
    padding: 20px 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    cursor: pointer;
    top: 15%;
     left: 50%;
    transform: translateX(-50%);
    text-align: center;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    transition: 0.3s;
}
#endit:hover{
    background-color: white;
    color: black;
    border: 1px groove black;
}


#combatantsTable{
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    color:white;
    border-style: groove;
    border-color: lightgray;
    border-collapse: collapse;
}

#combatantsTable td{
    text-align: center;
    color:white;
    border-style: groove;
    border-color: lightgray;
    border-collapse: collapse;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
    background:black;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ddd; 
  }

@media screen and (max-width: 672px){
    #d4,#d6,#d8,#d10,#d12,#d20,#d100{
        width: 45px;
        height: 45px;
    }

#buttonGroup{
    margin:0;
    float:none;
    top:0;
}
#initCont{
    position: absolute;
    width: 100%;
    text-align: center;
}
#bodyDiv{
    background-position-x: 50%;
}
#rw{
    display:block;
    text-align: center;
   
}

#endit{
    width:300px;
}

}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;
    z-index: 1;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;
      z-index: 1;}
    to {opacity: 1;}
  }