body{
    margin:0;
}

#bodyDiv{
    position: fixed;
    background-color: black;
    overflow: auto;
    width:100%;
    height:100%;
}

#initHeader{
    display:inline-block;
    color:white;
    font-size: x-large;
}

#initButton{
    border-radius: 50px;
    border-color: white;
    color: white;
    font-size: x-large;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline:none;
    transition: all .5s;
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}

#initButton:hover{
    background-color: rgba(255, 255, 255, 1);
    color:black;
    border-color: black;
}
#initButton:focus {
    outline: 0;
}


#combatHeader{
    text-align: center;
    color:white;
    font-size: xx-large;
}

#d4,#d6,#d8,#d10,#d12,#d20{
    border-radius: 50px;
    border-color: white;
    color: white;
    font-size: x-large;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline:none;
    transition: all .5s;
    display: inline-block;
    float:right;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}



#buttonGroup label{
    display: block;
    
}

#buttonGroup{
    float: right;
    margin:5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}
#buttonGroup:focus {
    outline: 0;
}


#initCont{
    position: absolute;
}

@media screen and (max-width: 360px){
#initButton{
border-radius: 50px;
border-color: white;
color: white;
font-size: x-large;
width: 70px;
height: 70px;
background-color: rgba(0, 0, 0, 0);
cursor: pointer;
outline: none;
transition: all .5s;
display: inline-block;
position: relative;
top: 35px;

}
#initButton:hover{
    background-color: rgba(0, 0, 0, 1);
    color:white;
    border-color: white;
}
#initHeader{
position: relative;
top: 35px;
}

}